body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.pendiente {
    color: red;
}
.comprado {
    color: green;
}
li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que los elementos se distribuyan de manera correcta */
}

li span {
    margin-right: auto; /* Alinea el texto a la izquierda */
}

.eliminar {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.eliminar:hover {
    background-color: darkred;
}

